.header {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 100vw;
  background-color: #cbc1b1;
}

.logo {
  height: 100%;
  margin-left: 7vw;
}

.menu {
  display: none;
}

.burgir-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
  align-self: center;
}

.burgir {
  height: 40%;
  margin-right: 12vw;
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: flex-end;
  }

  .logo-div {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
  }

  .logo {
    height: 123.75px;
    width: 123.75px;
  }

  .burgir-div {
    display: none;
  }
  .menu {
    display: flex;
    height: 40%;
    width: 50vw;

    flex-direction: row;
    align-items: center;
    margin-right: 5vw;
    gap: 5vw;
  }

  @mixin header-menu {
    display: flex;
    height: 30%;

    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 0.2vw;
  }

  .holiday {
    @include header-menu;
    width: 100px;
    justify-items: center;
  }

  .information {
    @include header-menu;
    width: 200px;
  }

  .contact {
    @include header-menu;
    height: 100px;
  }

  .contact:hover {
    background-color: #afa394;
  }

  .information:hover {
    background-color: #afa394;
  }

  .holiday:hover {
    background-color: #afa394;
  }
}

@media only screen and (min-width: 1200px) {
  .menu {
    justify-content: flex-end;
  }

  .holiday {
    width: 125px;
  }

  .information {
    width: 250px;
  }

  .contact {
    width: 125px;
  }
}
