.header {
  display: flex;
  height: 15vh;
  width: 100vw;
  background-color: #cbc1b1;
}

.logo {
  height: 100%;
}

.burgir-div {
  align-self: center;
  justify-self: flex-end;
}

.burgir {
  height: 40%;
}
