.header {
  display: flex;
  height: 15vh;
  width: 100vw;
  background-color: #cbc1b1;
}

.logo {
  height: 100%;
  margin-left: 7vw;
}

.burgir-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 80%;
  align-self: center;
}

.burgir {
  height: 40%;
  margin-right: 12vw;
}
