.kontakt {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nadpis2 {
  margin-bottom: 7vh;
  height: 5%;
  width: 100%;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.mini-div {
  height: 20%;
  width: 90%;
}

.mini-alpha {
  height: 50%;
}

.mini {
  font-family: "Lato", sans-serif;
  margin-bottom: 2vh;
  height: 32%;
  width: 100%;
  background-color: rgb(204, 201, 197);
  display: flex;
  align-items: center;
}

.mini-text {
  padding-left: 2vw;
  font-weight: 500;
}

.big-text {
  padding-left: 2vw;
  font-weight: 500;
  margin-top: 2vh;
}

.big {
  font-family: "Lato", sans-serif;
  background-color: rgb(204, 201, 197);
  height: 30%;
  width: 90%;
}

.chci3 {
  height: 15%;
  font-family: "Lato", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chci-div {
  margin-top: 10vh;
  background-color: #7c7474;
  height: 25%;
  width: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.15rem 0.35rem 0.35rem $shadow;
}

.button3 {
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "Lato";
  text-align: center;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .mini-alpha {
    display: flex;
    flex-direction: row;
    height: 36%;
    margin-bottom: 2vh;
    gap: 2vw;
  }

  .mini-div {
    height: 15%;
  }

  .margin-top {
    margin-top: 10vh;
  }

  .mini {
    height: 100%;
    margin-bottom: 0px;
  }

  .chci-div {
    width: 15%;
    height: 30%;
  }
}
