.lowmid {
  height: 100vh;
  width: 100vw;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.intro {
  height: 10%;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: bold;
}

.places {
  height: 67.5%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.place {
  display: flex;
  flex-direction: row;
  height: 33.3%;
  width: 100%;
}

.image {
  margin-left: 3vh;
  height: 100%;
}

.place-right {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.nadpis {
  height: 20%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-left: 5vw;
  letter-spacing: 0.1em;
}

.text {
  margin-top: 2vh;
  margin-left: 5vw;
  height: 80%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.chci2 {
  height: 22.5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div2 {
  background-color: #7c7474;
  height: 20%;
  width: 33.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.15rem 0.35rem 0.35rem rgb(90, 90, 90);
}

.button2 {
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "Lato";
  text-align: center;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 1.8rem;
  }

  .places {
    height: 50%;
    flex-direction: row;
    align-self: center;
  }

  .place {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .place-right {
    flex-direction: column;
  }

  .image {
    height: 100%;
  }

  .image-jr {
    height: 30vh;
  }
  .nadpis {
    width: 100%;
    margin: 0px;
  }

  .text {
    margin: 0px;
  }
  .chci2 {
    height: 25%;
  }
}
