.main {
  height: 160vh;
  width: 100vw;
  background-color: #e5e5e5;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 15vh;
  width: 100vw;
  background-color: #cbc1b1;
}

.logo {
  height: 100%;
  margin-left: 7vw;
}

.menu {
  display: none;
}

.burgir-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
}

.burgir {
  height: 40%;
  margin-right: 12vw;
}

@media only screen and (min-width: 768px) {
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo-div {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    height: 123.75px;
    width: 123.75px;
  }
  .burgir-div {
    display: none;
  }
  .menu {
    height: 100%;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5vw;
    gap: 5vw;
  }
  .holiday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    height: 30%;
    width: 100px;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30%;
    width: 200px;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30%;
    width: 100px;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact:hover {
    background-color: #b8ac9c;
  }
  .information:hover {
    background-color: #b8ac9c;
  }
  .holiday:hover {
    background-color: #b8ac9c;
  }
}

@media only screen and (min-width: 1200px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .holiday {
    width: 125px;
  }
  .information {
    width: 250px;
  }
  .contact {
    width: 125px;
  }
}

.topmid {
  height: 50vh;
  width: 100vw;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dovolena-box {
  background-color: #7c7474;
  height: 70%;
  width: 82.5%;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.snami-div {
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snami {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.lorem-div {
  height: 45%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lorem {
  width: 90%;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: justify;
  line-height: 1.35rem;
}

.chci {
  height: 21%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-div {
  background-color: #a09b99;
  height: 45%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.15rem 0.35rem 0.35rem #5a5a5a;
          box-shadow: 0.15rem 0.35rem 0.35rem #5a5a5a;
}

.button {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .main {
    height: 200vh;
  }
  .topmid {
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .dovolena-box {
    background-color: rgba(124, 116, 116, 0.4);
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 45%;
    width: 35%;
    margin-right: 2.5vw;
  }
  .button-div {
    height: 45%;
    width: 40%;
    -webkit-box-shadow: 0rem 0rem 0rem #5a5a5a;
            box-shadow: 0rem 0rem 0rem #5a5a5a;
    background-color: #7c7474;
    color: white;
  }
  .snami {
    font-size: 2rem;
    margin-top: 2vh;
    text-align: center;
    text-shadow: 3px 3px #a09b99;
  }
  .lorem {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .snami {
    font-size: 2.5rem;
  }
  .lorem {
    font-size: 1.4rem;
  }
}

.lowmid {
  height: 100vh;
  width: 100vw;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro {
  height: 10%;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: bold;
}

.places {
  height: 67.5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 33.3%;
  width: 100%;
}

.image {
  margin-left: 3vh;
  height: 100%;
}

.image-jr {
  height: 100%;
}

.place-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 66%;
  margin-top: 1.5vh;
}

.nadpis {
  height: 20%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-left: 5vw;
  letter-spacing: 0.1em;
}

.text {
  margin-top: 2vh;
  margin-left: 5vw;
  height: 80%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.chci2 {
  height: 22.5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-div2 {
  background-color: #7c7474;
  height: 15%;
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.15rem 0.35rem 0.35rem #5a5a5a;
          box-shadow: 0.15rem 0.35rem 0.35rem #5a5a5a;
}

.button2 {
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "Lato";
  text-align: center;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25%;
    font-size: 1.8rem;
  }
  .places {
    height: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .place {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .place-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image {
    height: 30vh;
  }
  .image-jr {
    height: 100%;
    margin-right: 1.5vw;
  }
  .nadpis {
    margin-top: 2vh;
    width: 100%;
    margin-left: 0px;
    font-size: 1.2rem;
    text-align: center;
  }
  .text {
    margin-left: 0px;
    margin-top: 2vh;
    text-align: center;
    width: 65%;
    font-size: 1rem;
  }
  .chci2 {
    height: 65%;
  }
  .button-div2 {
    width: 15%;
  }
}

.footer {
  height: 15vh;
  width: 100vw;
  background-color: #cbc1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bot {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.kontakt {
  height: 90%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nadpis2 {
  margin-bottom: 7vh;
  height: 5%;
  width: 100%;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.mini-div {
  height: 20%;
  width: 90%;
}

.mini-alpha {
  height: 50%;
}

.mini {
  font-family: "Lato", sans-serif;
  margin-bottom: 2vh;
  height: 32%;
  width: 100%;
  background-color: #ccc9c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-text {
  padding-left: 2vw;
  font-weight: 500;
}

.big-text {
  padding-left: 2vw;
  font-weight: 500;
  margin-top: 2vh;
}

.big {
  font-family: "Lato", sans-serif;
  background-color: #ccc9c5;
  height: 30%;
  width: 90%;
}

.chci3 {
  height: 15%;
  font-family: "Lato", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chci-div {
  margin-top: 10vh;
  background-color: #7c7474;
  height: 25%;
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.15rem 0.35rem 0.35rem #5a5a5a;
          box-shadow: 0.15rem 0.35rem 0.35rem #5a5a5a;
}

.button3 {
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: "Lato";
  text-align: center;
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .mini-alpha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 36%;
    margin-bottom: 2vh;
    gap: 2vw;
  }
  .mini-div {
    height: 15%;
  }
  .margin-top {
    margin-top: 10vh;
  }
  .mini {
    height: 100%;
    margin-bottom: 0px;
  }
  .chci-div {
    width: 15%;
    height: 30%;
  }
}

.mid {
  width: 100vw;
  height: 130vh;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-jr {
  height: 85%;
  width: 80%;
}

.rule-top {
  height: 50%;
}

.rule-bot {
  height: 50%;
}

.rule {
  height: 33.33%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-div {
  height: 50%;
}

.rule-img {
  height: 100%;
}

.textus {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-left: 5vw;
}

@media only screen and (min-width: 768px) {
  .main {
    height: 140vh;
  }
  .mid {
    height: 110vh;
  }
  .rule-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .rule-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .rule {
    height: 50%;
  }
  .textus {
    font-size: 1.2rem;
  }
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 15vh;
  width: 100vw;
  background-color: #cbc1b1;
}

.logo-info {
  height: 100%;
  margin-left: 7vw;
}

.menu {
  display: none;
}

.burgir-div-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 80%;
}

.burgir-info {
  height: 45%;
  margin-right: 12vw;
}

@media only screen and (min-width: 768px) {
  .header-info {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .logo-div-info {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-info {
    height: 123.75px;
    width: 123.75px;
  }
  .burgir-div-info {
    display: none;
  }
  .menu {
    height: 100%;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5vw;
    gap: 5vw;
  }
  .holiday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    height: 30%;
    width: 100px;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30%;
    width: 200px;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30%;
    width: 100px;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact:hover {
    background-color: #b8ac9c;
  }
  .information:hover {
    background-color: #b8ac9c;
  }
  .holiday:hover {
    background-color: #b8ac9c;
  }
}

@media only screen and (min-width: 1200px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .holiday {
    width: 125px;
  }
  .information {
    width: 250px;
  }
  .contact {
    width: 125px;
  }
}
/*# sourceMappingURL=main.css.map */