footer {
    height: 5vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#support-f {
    margin-left: 10vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


#support-img-f {
    margin-left: 1vw;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    
}

@media only screen and (min-width: 768px) {
    footer {
        height: 6vh; 
    }

    #support-f{
        display: none;
    }
}