#shrek-div {
    height: 30vh;
    width: 100%;
    background: linear-gradient(rgb(103, 180, 103), rgb(44, 129, 44));
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#ahoj-kontakt {
    background-color: #443850;
    color: white;
    border-radius: 30px 0px 30px 30px;
    font-size: 1.2rem;
    grid-row: 3 / span 6;
    grid-column: 3 / span 7;
    display: flex;
    padding: 3vh;
    justify-content: center;
    align-items: center;
}

#shrek-kontakt  {
    grid-row: 1 / span 4;
    grid-column: 9 / span 4;
    rotate: 180;
}

#shrek-kontakt-img {
    transform: rotate(180deg);
}

@media only screen and (min-width: 650px) {
    #shrek-kontakt  {
        grid-row: 1 / span 4;
        grid-column: 10 / span 3;
    }
    
}

@media only screen and (min-width: 768px) {
    

    #shrek-div > div:nth-child(2){
        display: flex;
        justify-content: flex-end;
    }
    
    #ahoj-kontakt {
        font-size: 1.2rem;
        grid-row: 3 / span 6;
        grid-column: 4 / span 7;
        padding: 3vh;
    }
    
    #shrek-kontakt  {
        grid-row: 1 / span 5;
        grid-column: 9 / span 4;
    }
}


@media only screen and (min-width: 1100px) {
    #shrek-div  {
        height: 40vh;
    }

    #ahoj-kontakt {
        font-size: 1.2rem;
        grid-row: 4 / span 5;
        grid-column: 6 / span 5;
        padding: 3vh;
    }
    
}


@media only screen and (min-width: 1200px) {
   
    #ahoj-kontakt {
        grid-row: 4 / span 5;
        grid-column: 6 / span 6;
    }
    
}