#shrek-div {
    height: 30vh;
    width: 100%;
    background: linear-gradient(rgb(103, 180, 103), rgb(44, 129, 44));
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#ahoj {
    background-color: #443850;
    color: white;
    border-radius: 30px 30px 0 30px;
    font-size: 1.2rem;
    grid-row: 3 / span 6;
    grid-column: 3 / span 7;
    display: flex;
    padding: 3vh;
    justify-content: center;
    align-items: center;
}

#shrek  {
    align-self: flex-end;
    grid-row: 8 / span 5;
    grid-column: 9 / span 4;
}


@media only screen and (min-width: 650px) {
    #shrek  {
        align-self: flex-end;
        grid-row: 9 / span 4;
        grid-column: 10 / span 3;
    }
    
}

@media only screen and (min-width: 768px) {
    

    #shrek-div > div:nth-child(2){
        display: flex;
        justify-content: flex-end;
    }
    
    #ahoj {
        font-size: 1.2rem;
        grid-row: 3 / span 6;
        grid-column: 3 / span 7;
        padding: 3vh;
    }
    
    #shrek  {
        grid-row: 8 / span 5;
        grid-column: 9 / span 4;
    }
}


@media only screen and (min-width: 1100px) {
    #shrek-div  {
        height: 40vh;
    }

    #ahoj {
        font-size: 1.2rem;
        grid-row: 4 / span 5;
        grid-column: 5 / span 6;
        padding: 3vh;
    }
    
}