#kontakt-div    {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#smula {
    margin-top: 10vh;
    font-size: 1.8rem;
}

#kontakt-box {
    width: 70%;

}

#big {
    width: 70vw;
}