#kontakt-div    {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#smula {
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 1.5rem;
}

#kontakt-box {
    width: 70%;

}

#big {
    width: 70vw;
}

#button {
    border-radius: 10px;
    margin-top: 10vh;
    margin-bottom: 30vh;
    background-color: white;
    background: white;
    border-color: transparent;
    box-shadow: -5px 5px 1px rgb(179, 179, 179);
}

#space  {
    height: 0vh;
}

#button:hover {
    background-color: gray;
    color: white;
}

@media only screen and (min-width: 768px) {
    body {
        height: 150vh;
    }

    footer {
        display: flex;
        justify-content: center;
        color: white;
    }
}