* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 130vh;
}

@import "header";
@import "hello";

#film {
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgb(162, 162, 162), white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#film-box {
    background-color: gray;
    height: 50%;
    width: 60%;
}

#text {
    height: 20%;
    width: 60%;
}
@media only screen and (min-width: 768px) {
    
    
}