* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 115vh;
}

@import "header";
@import "hello";
@import "hello-kontakt";
@import "film";
@import "footer";

@media only screen and (min-width: 768px) {
    body {
        height: 160vh;
    }
    
}
@import "kontakt";