* {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 115vh;
}

header {
  height: 10%;
  width: 100%;
  background-color: #49a563;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#menu {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10vw;
  font-size: 1.2rem;
  font-weight: 500;
}

#support {
  margin-left: 10vw;
  color: white;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#support-img {
  margin-left: 1vw;
  border-radius: 100px;
  height: 70px;
  width: 70px;
}

@media only screen and (min-width: 768px) {
  #support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menu {
    gap: 8vw;
  }
}

@media only screen and (min-width: 950px) {
  #support {
    margin-left: 15vw;
  }
  #menu {
    margin-right: 10vw;
    font-size: 1.5rem;
    gap: 6vw;
  }
}

@media only screen and (min-width: 1300px) {
  #support {
    margin-left: 20vw;
  }
  #menu {
    margin-left: 10vw;
    gap: 6vw;
  }
}

#shrek-div {
  height: 30vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#67b467), to(#2c812c));
  background: linear-gradient(#67b467, #2c812c);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

#ahoj {
  background-color: #443850;
  color: white;
  border-radius: 30px 30px 0 30px;
  font-size: 1.2rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  grid-row: 3 / span 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / span 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shrek {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-row: 8;
  -ms-grid-row-span: 5;
  grid-row: 8 / span 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
}

@media only screen and (min-width: 650px) {
  #shrek {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
    grid-row: 9 / span 4;
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10 / span 3;
  }
}

@media only screen and (min-width: 768px) {
  #shrek-div > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #ahoj {
    font-size: 1.2rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 6;
    grid-row: 3 / span 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-column: 3 / span 7;
    padding: 3vh;
  }
  #shrek {
    -ms-grid-row: 8;
    -ms-grid-row-span: 5;
    grid-row: 8 / span 5;
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / span 4;
  }
}

@media only screen and (min-width: 1100px) {
  #shrek-div {
    height: 40vh;
  }
  #ahoj {
    font-size: 1.2rem;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    grid-row: 4 / span 5;
    -ms-grid-column: 5;
    -ms-grid-column-span: 6;
    grid-column: 5 / span 6;
    padding: 3vh;
  }
}

#text {
  height: 20%;
  width: 60%;
  margin-top: 10vh;
  font-size: 1rem;
  margin-bottom: 10vh;
}

#text > p {
  text-align: center;
}

#film {
  height: 70vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#a2a2a2), to(white));
  background: linear-gradient(#a2a2a2, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#film-box {
  background-color: gray;
  height: 35%;
  width: 60%;
}

#cihac {
  display: none;
}

@media only screen and (min-width: 768px) {
  #film {
    height: 110vh;
  }
  #film-box {
    background-color: gray;
    height: 80%;
    width: 55%;
  }
  #text {
    font-size: 1.2rem;
  }
  #cihac {
    display: block;
    height: 25vh;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

footer {
  height: 5vh;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#support-f {
  margin-left: 10vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#support-img-f {
  margin-left: 1vw;
  border-radius: 100px;
  height: 20px;
  width: 20px;
}

@media only screen and (min-width: 768px) {
  footer {
    height: 8vh;
  }
  #support-f {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  body {
    height: 160vh;
  }
}
/*# sourceMappingURL=main.css.map */