.bot {
  width: 90%;
  height: 10%;
  margin-top: 60px;
  background-color: $bc;
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 0px 0px;
  border-style: solid;
  border-color: #575f24;
  box-shadow: 0px 0px 60px 20px $bc;
}

.kontakt {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.mail {
  color: $pc;
  height: 50%;
  width: 50%;
  text-align: center;
}

.phone {
  color: $pc;
  height: 50%;
  width: 50%;
  text-align: center;
}

.align {
  height: 30%;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.MightyShrek {
  color: $pc;
  align-self: flex-end;
  height: 20%;
  width: 50%;
  margin-left: 15px;
}

.info {
  color: $pc;
  align-self: flex-end;
  text-align: end;
  margin-right: 15px;
  height: 20%;
  width: 50%;
}
