.top {
  height: 6%;
  width: 100%;
  background-color: $bc;
  display: flex;
  border-bottom: solid $c;
  align-items: center;
  justify-content: left;
  border-radius: 15px 15px 0px 0px;
  font-size: 1.8rem;
  font-weight: 100;
  font-family: "Source Code Pro", monospace;
}

.ples {
  border-style: solid;
  border-color: $c;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}
